.App {
    text-align: center;
  }
  .header{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 24px 120px;
    gap: 550px;
    position: relative;
    
    width: 100vw;
    height: 111px;
    font-weight: 900;
    background: #FFFFFF;
    border-bottom: 1px solid #F7F7F7;
    

  }
  .right_section{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 55px;
  
  }
  
  .web_monitoring,.ssl_monitoring{
    font-weight: 900;
  }
  
  
  
  