.active1{
    background-color:rgba(16, 167, 96, 0.08); /* Green */
    border: none;
    color: #10A760;;
    padding: 9px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    border-radius: 25px;
  
    padding-top: 5px;
    margin-left: 8px;
    margin-top: 7px;
    font-weight: 450;
}
.inactive2{
    background-color: rgba(220, 57, 18, 0.08); /* Green */
    border: none;
    color: #DC3912;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 450;
    cursor: pointer;
    border-radius: 25px;
     
    padding-top: 5px;
    margin-left: 8px;
    margin-top: 7px;
}